body {
    background-color: #F8F8F8;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
  }
  
  .container {
    text-align: justify;
    max-width: 1000px;
    padding: 20px;
  }
  
  .title {
    font-size: 50px;
    margin-bottom: 20px;
    padding: 10px 0px 10px 0; 
    text-align: center;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  u {
    text-decoration: underline;
  }

  ul {
    list-style-type: disc; 
    padding-left: 50px; 
  }

  ul ul {
    list-style-type: armenian;
    padding-left: 20px; 
  }